/* Hero.css */
.hero {
    height: 100vh;
    display: flex;
    background-color: #283618; /* Deep Olive background */
    color: #fefae0; /* Soft Cream text */
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    font-size: 26px;
    color: #fefae0; /* Soft Cream text */
    font-weight: 600;
}

.hero-left p {
    color: #fefae0; /* Soft Cream text */
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex; 
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #606c38; /* Dark Green background for the button */
    color: #fefae0; /* Soft Cream text */
    font-size: 22px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.hero-latest-btn:hover {
    background-color: #fefae0; /* Soft Cream background on hover */
    color: #283618; /* Deep Olive text on hover */
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
